#footer-hide {
	width: 100%; 
	background-color: #262626; 
	margin-top: 405px;
}
.navbar-brand {
	font-size: 25px
}
.container-hide {
	display: none;
	z-index: 3; 
	position: fixed;
	left: 30%;
	right: 30%;
	top: 20px;
	bottom: 0;
}
.container-hide2 {
	opacity: 1;
}
.thumbnail {
	background-color: transparent;
}
.arrow-left {
	width: 30px;
	height: 30px; 
	cursor: pointer;
}
.arrow-left:hover {
	opacity: 0.5
}
.arrow-right {
	width: 30px;
	height: 30px; 
	cursor: pointer;
	float: right;
}
.arrow-right:hover {
	opacity: 0.5
}
.footer-text {
	color: white; 
	font-size: 15px;
}
#image1 {
	background: url(/img/paintings/image1.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image2 {
	background: url(/img/paintings/image2.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image3 {
	background: url(/img/paintings/image3.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image4 {
	background: url(/img/paintings/image4.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image5 {
	background: url(/img/paintings/image5.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image6 {
	background: url(/img/paintings/image6.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image7 {
	background: url(/img/paintings/image7.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image8 {
	background: url(/img/paintings/image8.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image9 {
	background: url(/img/paintings/image9.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image10 {
	background: url(/img/paintings/image10.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image11 {
	background: url(/img/paintings/image11.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image12 {
	background: url(/img/paintings/image12.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

@media screen and (max-height: 900px) {
	.container-hide {
	left: 37%;
	right: 37%;
	}
}
@media screen and (max-height: 770px) {
	.container-hide {
	left: 40%;
	right: 40%;
	}
}
@media screen and (max-height: 770px) {
	.container-hide {
	left: 40%;
	right: 40%;
	}
}
@media screen and (max-width: 400px) {
	.navbar-brand {
		font-size: 20px;
	}
	.arrow-left {
		width: 25px;
		height: 25px;
	}
	.arrow-right {
		width: 25px;
		height: 25px;
	}
	.footer-text {
		font-size: 12px;
	}
	.container-hide {
	display: none;
	z-index: 3; 
	position: fixed;
	left: 2%;
	right: 2%;
	}
	#footer-hide {
		margin-top: 100px;
	}
}