.navbar-brand {
	font-size: 25px
}
.container-hide {
	display: none;
}
.fixed {
	position: fixed;
	z-index: -1;
	top: 20px;
	left: 0;
	right: 0;
	bottom: 0;
}
.thumbnail {
	background-color: transparent;
}
.arrow-left {
	width: 30px;
	height: 30px; 
	margin-top: 300px; 
	cursor: pointer;
}
.arrow-right {
	width: 30px;
	height: 30px; 
	margin-top: 300px; 
	cursor: pointer;
}
.cross {
	width: 20px; 
	height: 20px; 
	float: right; 
	cursor: pointer
}
.footer-text {
	color: white; 
	font-size: 15px;
}
#image1 {
	background: url(/img/paintings/image1.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image2 {
	background: url(/img/paintings/image2.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image3 {
	background: url(/img/paintings/image3.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image4 {
	background: url(/img/paintings/image4.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image5 {
	background: url(/img/paintings/image5.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image6 {
	background: url(/img/paintings/image6.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image7 {
	background: url(/img/paintings/image7.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image8 {
	background: url(/img/paintings/image8.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image9 {
	background: url(/img/paintings/image9.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image10 {
	background: url(/img/paintings/image10.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image11 {
	background: url(/img/paintings/image11.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
#image12 {
	background: url(/img/paintings/image12.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}




@media screen and (max-width: 400px) {
	.navbar-brand {
		font-size: 20px;
	}
	.arrow-left {
		width: 20px;
		margin-top: 140px;
		height: 20px;
	}
	.arrow-right {
		width: 20px;
		height: 20px;
		margin-top: 140px;
	}
	.cross {
		width: 15px; 
		height: 15px; 
	}
	.footer-text {
		font-size: 12px;
	}
}